name: Deploy to Firebase
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  ci:
    uses: ./.github/workflows/ci.yml
    permissions:
      contents: read

  deploy:
    runs-on: ubuntu-24.04
    needs: ci
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6

      - uses: actions/download-artifact@v7
        with:
          name: hosting-out
          path: out

      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT_ZERO_ONE_UI }}"
          channelId: live
          projectId: zero-one-ui
